* {margin: 0;}
ul {
  li {
    list-style-type: none;
  }
}
a {
  text-decoration: none;
}

// Fonts and Colors

$main-color: #1E1F26;
$secondary-color: #1ABC9C;
$warning-color: #ff1717;

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Regular.ttf")
}

.hidden {
  max-height: 0;
}
// Everything else
#canvas-wrapper {
  width: 800px;
  margin: auto;
  position: relative;
  p {
    display: inline-block;
    margin-top: 1em;
    font-size: 90%;
    font-family: 'Helvetica';
  }
  .nodes {
    margin-left: 1em;
  }
  #canvas {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 0 auto;
  }
  #layered-canvas {
    position: absolute;
    left: 0; top: 0;
    z-index: -1;
  }
}
.logo {
  font-size: 90%;
  font-family: 'Lato';
  display: inline-block;
}
.warning {
  background-color: $warning-color !important;
}
#run-button {
  background-color: $secondary-color;
  
  &:hover {
    cursor: pointer;
    background-color: darken($color: $secondary-color, $amount: 5%);
  }
}

.dropdown {
  position: absolute;
  background: $main-color;
  width: 7rem;
  height: auto;
  padding: 0 .2em 0 .2em;
  top: 3rem; left: 0;
  overflow: hidden;
  span {
    color:white;
    display: block;
    margin: .5em 0;
    margin-bottom: 1em;
    padding: .5em;
    &:hover {
      background-color: lighten($main-color, $amount: 20%);
    }
  }
}

nav {
  background-color: $main-color;
  color: white;
  padding: 1em;
  font-family: "Lato";
  ul{
    display: inline-block;
    margin-left: 2em;
    
    li {
      padding: .5em;
      text-align: center;
      color: white;
      font-family: 'Helvetica';
      display: inline-block;
      margin: 0 .5em 0 .5em;
      transition: background-color .2s ease-in-out;
      position: relative;
      &:hover:not(#run-button) {
        background-color: lighten($main-color, $amount: 20%);
        cursor: pointer;
      }
      i {
        margin-left: .5em;
      }
      
    }
  }
}
#image-wrapper {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  button {
    width: 3rem;
    height: 3rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 200%;
    margin-top: 3em;
    border: none;
    color: $secondary-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    &:hover {
      cursor: pointer;
      color: black;
    }
    &:focus, &:active {
      outline: none;
    }
  }
}
h2 {
  font-weight: lighter;
  font-family: 'Lato';
  padding-top: 1em;
  text-align: center;
}
#image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 2em 0;

  .image-box {
    margin: 1em .5em 0 .5em;
    width: 10rem; height: 10rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform .2s;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

#algorithm-title {
  min-width: 15rem;
}

#tools-help {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 3rem;
  background-color: $main-color;
  color: white;
  margin: 0 auto;
  padding: .5em;
  p {
    margin-left: .5em;
    font-size: 100%;
    font-family: 'Lato';
    span {
      margin-left: .5em;
      font-size: 90%;
      color: $warning-color;
    }
    i {
      margin-left: .2em;
    }
  }
  .help-icons {
    margin-left: 2em;
    p {
      margin-left: 1.5em;
    }
  }
}